
  
  /* Display the columns below each other instead of side by side on small screens 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }*/
  body{
    text-align: center;
    background-color: #555;
  }
  /* Shadows */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: center;
    width: 500px;
    height: 500px;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .container {
    padding-left: 16px;
    width: 500px;
    height: 500px;
    text-align: center;
  }
  

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding-left: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 25%;
  }
  
  .button:hover {
    background-color: #555;
  }
  /*white box */
.slider{
    width: 40%;
    height: 40%;
    position: fixed;
    margin: 50%;
}
/*changes picture*/
.slider .card img {
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    
    
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .card {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}